.dashboard-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  .button-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  button {
    background-color: var(--bg-button);
    color: var(--secondary-color);
    border: none;
    border-radius: var(--button-radius);
    padding: 0.5rem 1rem;
    margin-bottom: 3rem;
    cursor: pointer;
  }
}

.dashboard-right {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.addIcon {
  height: 8rem;
  width: 8rem;
}

.dashboard-movies {
  display: flex;
  flex-direction: column;
  width: 7rem;
}

.dashboard-movies > img {
  height: 9rem;
  width: 7rem;
  border-radius: var(--button-radius);
}

.dashboard-movies > p {
  color: var(--primary-color);
}

@media only screen and (min-width: 792px) {
  .button-container {
    button {
      padding: 1rem 2rem;
      margin-right: 1rem;
    }
  }
  .dashboard-right {
    max-width: 1440px;
  }
  .user-dashboard {
    max-width: 390px;
  }
}
