.form-dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submit-form {
  margin: 0 auto;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #575aef;
  border: none;
  color: var(--secondary-color);
  border-radius: var(--button-radius);
  cursor: pointer;
}

@media only screen and (min-width: 792px) {
  .form-dashboard {
    max-width: 792px;
  }
}
