.movie-details {
  .movie-header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 60vh;
    border-radius: 10px 10px 0 0;
    h2 {
      font-size: 3rem;
      color: white;
      text-align: center;
    }
    p {
      color: white;
      margin-bottom: 1rem;
    }
    .content-details {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
      .badge-4k {
        content: url(https://tv.apple.com/assets/badges/MetadataBadge%204K%20OnDark-c90195dae0171c69694b4d7386421ad8.svg);
      }
      .dolby-vision {
        content: url(https://tv.apple.com/assets/badges/MetadataBadge%20Dolby%20OnDark-2c6afeb5b02b2c48655606bd9d178bfd.svg);
      }
      .dolby-atmos {
        content: url(https://tv.apple.com/assets/badges/MetadataBadge%20Atmos%20OnDark-007278edac4076aaf1bc01dedf68e3cd.svg);
      }
      .cc {
        content: url(https://tv.apple.com/assets/badges/MetadataBadge%20CC%20OnDark-7b5b00df263bfee5af843510f708c307.svg);
      }
      .ad {
        content: url(https://tv.apple.com/assets/badges/MetadataBadge%20AD%20OnDark-4731d380509cdd9c3e59e73cb9dc09d5.svg);
      }
      .sdh {
        content: url(https://tv.apple.com/assets/badges/MetadataBadge%20SDH%20OnDark-45f29ce5e07128bf67d924a31a003cf3.svg);
      }
    }
  }
  .movie-footer {
    background-color: rgb(239, 239, 239);
    .button-content {
      display: flex;
      justify-content: center;
      position: relative;
      top: -5px;
    }
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.5rem;
      padding: 1rem;
      width: 100%;
      background-color: #575aef;
      color: white;
      font-size: 1rem;
      font-weight: 700;
      border: none;
      border-radius: 5px;
      span {
        width: 18px;
        height: 18px;
        content: url(/public/play_button.png);
      }
    }
  }
  .production-content {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem 1rem 1rem;
    p {
      font-size: 14px;
    }
    p:first-of-type {
      margin-bottom: 1rem;
    }
  }
}
